.NavButton{
    font-size: 150%;
    font-weight: 700;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90px;
    border: 2px solid #F0F7EE;
    border-radius: 5px;
    margin: 5px;
}