@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Variable-Italic.woff2") format("woff2");
}

@theme {
  --font-sans: "Montserrat", sans-serif;
}

html, body {
  background-color: #fffdf1;
}
